.side_bar
  .user_name
    .top_items
      .name
        taro
      .icons
        .icon_edit
          <i class="fas fa-edit"></i>
        .icon_cog
          <i class="fas fa-cog"></i>
  .group_list
    .group
      .group_name
        techcamp
      .message
        おはよう！
    .group
      .group_name
        techcamp
      .message
        まだメッセージはありません。
    .group
      .group_name
        techcamp
      .message
        まだメッセージはありません。
