* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
}

.user_name {
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  .top_items {
    height: 20px;
    width: calc(300px - 40px);
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    .name {
      color: #fff;
      font-size: 16px;
    }
    .icons {
      width: 60px;
      display: flex;
      justify-content: flex-end;
      .icon_cog {
        margin-left: 5px;
      }
    }
  }
}

.group_list {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

.group {
  padding-top: 20px;
  padding-bottom: 40px;
  .group_name {
    font-size: 15px;
    color: #fff;
  }
  .message {
    font-size: 11px;
    margin-top: 5px;
    color: #fff;
  }
}

.main_chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #fff;
}

.chat_header {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  .group_info {
    .group_name {
      color: #333;
      font-size: 20px;
      margin: 35px 0 15px 0;
    }
    .member {
      color: #999;
      font-size: 12px;
      display: flex;
    }
  }
  .edit_button {
    font-size: 16px;
    border: 1px solid #38aef0;
    color: #38aef0;
    height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
  }
}

.MessageField {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 35px 40px 0 40px;
  overflow: scroll;
  .MessageBox {
    .MessageInfo {
      display: flex;
      margin-bottom: 12px;
      &__userName {
        color: #333;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .Message {
      margin-bottom: 46px;
    }
  }
}

.Footer {
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 50px 20px 40px;
  display: flex;
  justify-content: space-between;

  .Form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__contents {
      border-style: none;
      width: 100%;
      height: 50px;
      display: flex;
      position: relative;
      &__inputContent {
        height: 50px;
        width: 100%;
        border-style: none;
        padding: 0 10px 0 10px;
      }
      &__inputImage {
        text-decoration: none;
        position: absolute;
        right: 30px;
        top: 15px;
      }
      &__icon {
        position: absolute;
        
      }
      .Hidden {
        display: none;
      }
    }

    &__submit {
      height: 50px;
      color: #fff;
      font-size: 16px;
      background-color: #38aef0;
      padding: 0 30px;
      border-style: none;
      margin-left: 15px;
    }
  }
}

.fas {
  color: #fff;
}